:root, [data-bs-theme=light] {
  --primary-color: #5200A4;
  --primary-color-darken: #5200A4;
  --secondary-color: #A347FF;
  --bs-secondary-bg: #C7A7FF;
  --bs-tertiary-bg: #C7A7FF;
  --bs-tertiary-bg-rgb: 199, 167, 255;
  --bs-light-rgb: 248, 249, 250;
  --white: #ffffff;
}

[data-bs-theme=dark] {
  --bs-light-rgb: 33,37,41;
}

[data-bs-theme="dark"] .plot-container {
  filter: invert(75%) hue-rotate(180deg);
}

.btn-primary, .btn-success {
  background-color: var(--primary-color);
}

.btn-success {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--primary-color-darken);
  --bs-btn-hover-border-color: var(--primary-color-darken);
  --bs-btn-focus-shadow-rgb: var(--primary-color);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--primary-color-darken);
  --bs-btn-active-border-color: var(--primary-color-darken);
}
